@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
  --color-primary: 10, 10, 10;
  --background-primary: 255, 255, 255;
  --background-secondary: 232, 235, 235;
  --accent: 66, 103, 178;

  color: rgba(var(--color-primary));
  background: rgba(var(--background-primary));
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-primary: 221, 221, 221;
    --background-primary: 37, 37, 37;
    --background-secondary: 98, 98, 98;
    --accent: 255, 127, 80;
  }
}

.light {
  color-scheme: light;
  --color-primary: 10, 10, 10;
  --background-primary: 255, 255, 255;
  --background-secondary: 232, 235, 235;
  --accent: 66, 103, 178;
}

.dark {
  color-scheme: dark;
  --color-primary: 221, 221, 221;
  --background-primary: 37, 37, 37;
  --background-secondary: 98, 98, 98;
  --accent: 255, 127, 80;
}

.pinky {
  color-scheme: light;
  --color-primary: 19, 39, 67;
  --background-primary: 255, 181, 181;
  --background-secondary: 255, 203, 203;
  --accent: 64, 112, 136;
}

.grayzle {
  color-scheme: dark;
  --color-primary: 255, 255, 255;
  --background-primary: 110, 110, 110;
  --background-secondary: 139, 139, 139;
  --accent: 186, 255, 57;
}

.synth {
  color-scheme: dark;
  --color-primary: 248, 208, 130;
  --background-primary: 100, 13, 107;
  --background-secondary: 181, 27, 117;
  --accent: 230, 92, 25;
}

.skyny {
  color-scheme: light;
  --color-primary: 15, 42, 75;
  --background-primary: 233, 242, 251;
  --background-secondary: 214, 219, 220;
  --accent: 0, 171, 228;
}

.cozify {
  color-scheme: dark;
  --color-primary: 241, 241, 241;
  --background-primary: 84, 77, 69;
  --background-secondary: 234, 219, 200;
  --accent: 183, 210, 96;
}

.goldbluem {
  color-scheme: dark;
  --color-primary: 29, 160, 149;
  --background-primary: 7, 22, 36;
  --background-secondary: 198, 209, 220;
  --accent: 115, 105, 92;
}

.violetize {
  color-scheme: light;
  --color-primary: 0, 60, 0;
  --background-primary: 177, 156, 217;
  --background-secondary: 212, 187, 255;
  --accent: 127, 255, 0;
}

.snob {
  color-scheme: dark;
  --color-primary: 244, 228, 205;
  --background-primary: 0, 18, 51;
  --background-secondary: 26, 45, 77;
  --accent: 252, 90, 91;
}

section {
  @apply mx-auto max-w-[1024px] px-5 sm:px-16 text-center sm:text-left py-4 leading-7;

  scroll-margin-top: 100px; /* Adjust the value as needed */
}
@supports not (scroll-margin-top: 0) {
  section {
    scroll-snap-margin-top: 100px; /* Compatibility fallback */
  }
}

@layer utilities {
  /* For Firefox */
  /* .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #e2e8f0;
  } */

  .scrollbar-thin::-webkit-scrollbar {
    width: 5px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(var(--color-primary), 0.3);
    border-radius: 10px;
    border: 1px solid rgba(var(--background-secondary));
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--accent), 0.7);
    cursor: pointer;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: rgba(var(--background-secondary));
    border-radius: 10px;
  }

  /* Alternate styles for projects list */
  /* TODO: replace with even class inside jsx */
  .striped {
    li:first-child {
      @apply md:rounded-t-xl;
    }

    li:last-child {
      @apply md:rounded-b-xl;
    }

    li:nth-child(even) {
      @apply bg-bg-secondary/10 border-transparent;
    }

    li:nth-child(even) .feature {
      @apply flex-row-reverse;
    }

    li:nth-child(even) .feature > div:first-child {
      @apply mr-0 -ml-24 text-right;
    }

    li:nth-child(even) .feature > div:first-child div {
      @apply justify-end ml-auto;
    }
  }
}

/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
